{% load static %}
<div class="profile-category">
  {% with request.resolver_match.view_name as view_name %}
  <h6>Подписки</h6>
  <a href="{% url 'user_profile:follows' %}"
     {% if view_name == 'user_profile:follows' %}class="active"{% endif %}
  >
  Мои подписки
  </a>
  <br>
  <a href="{% url 'user_profile:followers' %}"
     {% if view_name == 'user_profile:followers' %}class="active"{% endif %}
  >
  Мои подписчики
  </a>
  <br>
  <h6>Аккаунт</h6>
  <a href="{% url 'user_profile:index' %}"
     {% if view_name == 'user_profile:index' %}class="active"{% endif %}
  >
  Личные данные
  </a>
  {% endwith %}
</div>