{% load static %}
{% load user_filters %}
<div class="container">
  <p>
    Имя:
    {% if user.first_name %}
    {{ user.first_name }}
    {% else %}
    <i>не указано</i>
    {% endif %}
  </p>

  <p>Фамилия:
    {% if user.last_name %}
    {{ user.last_name }}
    {% else %}
    <i>не указано</i>
    {% endif %}
  </p>
  <p>Логин: {{ user.username }}</p>
  {% if user.email %}
  <p>email: {{ user.email|protect_mail }}</p>
  {% endif %}
  <a href="{% url 'user_profile:edit' %}" class="btn btn-primary btn-sm">Изменить данные</a>
  <hr>
  <p>Пароль: ******** </p>
  <a href="{% url 'users:password_change' %}" class="btn btn-primary btn-sm">Изменить пароль</a>
</div>