


/*----layout---*/
.layout.basic>* {
  position: absolute;
}

a {
    color: #2a5885;
    text-decoration: none;
    font-weight: 500;
}

.selectable {
}

.selectable:hover {

}

.border-rounded {
    border-radius:12px;
}

/*----------------------------*\
	Header
\*----------------------------*/

header {
    height: 57px;
}

.navbar {
    background-color: #ffd608;
}

.nav-pills .nav-link.active {
    background-color: #4d95ff;
}

.nav .nav-item a {
    color: #50565f;
}

.navbar a {
    color: #50565f;
}

.nav .nav-item a:hover {
    color: #4b73f8;
}

.navbar li {
    list-style: none;
}

/*----------------------------*\
	        Body
\*----------------------------*/

body {
    background-color: #f4f4f4;
}

.pagination {
    margin: auto;
}

.wrap_images img
{
    width: 100%;
    height: auto;
}

/*--------------------*\
    Footer
\*--------------------*/

.footer {
    background-color: #f4f4f4;
}


/*--------------------*\
    Print Post
\*--------------------*/

.border-gray {
    border:0.1px solid #d2d2d2;
}

.post-body {
    background-color: #fff;
    border-radius:12px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    position: relative;
}

.post-header {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    height: 70px;
    position: relative;
}

.post-author-name {
    color: #2a5885;
    top: 5px;
    left: 70px;
    width: 200px;
}

.post-created-date {
    top: 30px;
    left: 70px;
    height: 20px;
    color: #8d90a9;
}

.post-text {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
}

.post-group {
    top: 5px;
    right: 10px;
}

.post-footer {
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    height: 30px;
    margin-bottom: 1%;
    font-size: 0.85em;
}

.post-comments {
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 1%;

}

.comment-tag {
    left: 150px;
    opacity: 0.7;
}

.views-tag {
    right: 50px;
    opacity: 0.5;
}

.likes-tag {
    left: 50px;
    opacity: 0.7;
}
/*---------------
    Post detail
---------------*/

.aside-post-detail {
    position: sticky;
    top: 70px;
    height: 470px;
    margin-top: 1%;
}


/*---------------
    Comments
---------------*/

.media-body a {
    color: #000000;
    text-decoration: none;
}

.media-body date {
    color: #787878;
    text-decoration: none;
}

.comment-owner {
    margin-bottom: 0px;
    font-size: 0.9em;
}

.comment-body {
    font-size: 0.85em;
    color: #000000;
}

.comment-header {
    color: #158a47
}

/*-----------------
    User Profile
-----------------*/

.pofile-body {
    margin-top: 60px;
    margin-bottom: 10px;
}

.profile-category a {
    font-size: 16px;
    color: #009CF0;
    text-decoration: none;
}

.profile-category .active {
    font-weight: bold;
}

.profile-category a:hover {
    font-size: 17px;
}



/*----------------------------*\
	        About
\*----------------------------*/

#about-form {
    background-image: url(../img/fon-author.jpg) repeat-y;
    margin-top:60px;
}

#img-author {
    height: 30vh;
    width: auto;
}

.figure-caption {
    text-align: center;
}

#about-header h1 {
    margin: 40px;
    text-align: center;
}

#about-text {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%
}


#about-text .card .card-body li {
    list-style: none;
}

#about-text .card .card-body ul {
    list-style: none;
    padding-left: 10px;
}

#img-author-photo {
    height: 15vh;
    width: auto;
}

#author-task {
    color: #bbbdc9;
}

/*----------------------------*\
	        Technology
\*----------------------------*/

#tech-header h1 {
    text-align: center;
}

#tech-aside list-group {
    border: none;
}

#list-example {
    border: none;
}

.scrollspy-example {
    position: relative;
    height: 70vh;
    margin-top: 0.5rem;
    overflow: auto;
}

.low-margin {
    margin: 0px;
}

/*----------------------------*\
	       Errors pages
\*----------------------------*/


.error-body {

}



