{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div id="about-form">
  <div class="container">
    <div id="about-header">
      <h1>Приветствую и Добро Пожаловать на мой сайт!</h1>
    </div>
    <div id="picture-block">
      <figure class="figure mx-auto d-block">
        <img id="img-author" src="{% static 'img/about_author3.jpg' %}" class="rounded mx-auto d-block" alt="">
        <figcaption class="figure-caption">
          Просто подпись
        </figcaption>
      </figure>
    </div>
    <div id="about-text">
      <div class="card">
        <div class="card-body">
          <h3>Информация об авторе</h3>
          <div class="row">
            <div class="col-sm-12 col-md-2">
              <img id="img-author-photo" src="{% static 'img/author_photo.jpg' %}" class="rounded mx-auto d-block" alt="">
            </div>
            <div class="col-sm-12 col-md-10">
              <ul >
                <li>Имя: Кузенков Алексей</li>
                <li>
                  gitHub:
                  <a href="https://github.com/flash00000" target="_blank">ссылка</a>
                </li>
                <li>
                  Резюме: <a href="/about/none/" target="_blank">ссылка</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}