{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="container" id="tech-header">
      <h1>Технология сайта</h1>
    </div>
    <aside class="col-12 col-md-3" id="tech-aside">
      <div id="tech-list">
        <ul class="list-group list-group-flush">
          <div id="list-example" class="list-group border-rounded">
            <a class="list-group-item list-group-item-action" href="#list-item-1">
              Python
            </a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">
              Django
            </a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">
              Bootstrap
            </a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">
              Возможности сайта
            </a>
          </div>
        </ul>
      </div>
    </aside>

    <article class="col-12 col-md-9">
      <div class="border-rounded">
        <div data-bs-spy="scroll" data-bs-target="#list-example"
             data-bs-offset="0" class="scrollspy-example">
          <h4 id="list-item-1">Python 3.9</h4>
          <p>
            Документация - <a href="https://docs.python.org/3.9/" target="_blank">eng</a>
          </p>
          <br>
          <h4 id="list-item-2">Django 2.2.6</h4>
          <p>
            Документация - <a href="https://docs.djangoproject.com/en/2.2/" target="_blank">eng</a><br>
          </p>
          <br>
          <h4 id="list-item-3">Bootstrap 5</h4>
          <p>
            Документация - <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank">eng</a><br>
          </p>
          <br><br>
          <h4 id="list-item-4">Возможности сайта</h4>
          <b>Публикация поста</b><br>
          Посты могут публиковать только авторизованные пользователи.<br>
          <b>Изменение поста</b><br>
          Пост может изменить только пользователь, создавший пост. <br>
          <b>Создание комментариев к посту</b><br>
          Комментарии могут оставлять только авторизованные пользователи. <br>
          <b>Подписка на других пользователей</b><br>
          Подписка дает возможность просмотра постов авторов, на которых
          подписан пользователь. <br><br>
          <b>Лайки постов</b><br>
          Пользователи могут оставлять лайки для понравившихся постов. <br>
          <b>Количество просмотров постов</b><br>
          Увеличивается при просмотре поста целиком. <br><br>
          <b>Группы</b><br>
          Возможность просмотров постов по группам. <br><br>
          </p>
          <h5>Работа с пользователем</h5>
          <p class="low-margin">
          <ul>
          <li>Регистрация пользователя;</li>
          <li>Авторизация пользователя;</li>
          <li>Смена пароля (для авторизоанных пользователей);</li>
          <li>Сброс пароля через почту (для неавторизованных пользователей);</li>
          </ul>
          <h5>Личный кабинет для установки/изменения:</h5>
          <ul>
            <li>Личных данных (имя, фамилия, почта);</li>
            <li>Аватара пользователя;</li>
            <li>Персональных данных (дата родждения и др.).</li>
          </ul>
          </p>
        </div>
      </div>
    </article>
  </div>
</div>

{% endblock %}