{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  {% include 'includes/styles_js.html' %}
  <title>
    {% block title %}
    {{ title }}
    {% endblock %}
  </title>
</head>
<body>

<header>
  <div class="container">
    {% include 'includes/header.html' %}
  </div>
</header>

<main>
  <div class="container pofile-body">
    <div class="row">
      <aside class="profile-aside col-sm-12 col-md-2">
        {% include 'account/includes/aside_block.html' %}
      </aside>
      <div class="col-sm-12 col-md-10">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</main>

<footer class="page-footer font-small blue border-top">
  {% include 'includes/footer.html' %}
</footer>

</body>
</html>