{% extends 'account/base.html' %}
{% load static %}

{% block title %}
Подписки {{ user.username }}
{% endblock %}

{% block content %}

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Автор</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  {% if authors %}
  {% for author in authors %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>
      <a href="{% url 'posts:profile' author.user.username %}">
        {% if author.author.first_name or author.author.last_name %}
        {{ author.author.first_name }} {{ author.author.last_name }}
        {% else %}
        {{ author.author.username }}
        {% endif %}
      </a>
    </td>
    <td>
      <a href="{% url 'posts:profile_unfollow' author.author.username %}"
         class="btn btn-light btn-sm" role="button"
      >
        Отписаться
      </a>
    </td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td scope="row" colspan="3">Вы пока ни на кого не подписаны</td>
  </tr>
  {% endif %}
  </tbody>
</table>
{% endblock %}